<h1>Welcome to the Drawing Board!</h1>
<div class="col-md-4 col-offset-2">
	<h3>Register Here:</h3>
	<% if flash[:errors] %>
		<div class="danger">
			<% flash[:errors].each do |error| %>
			<p><%= error %></p>
		</div>
		<% end %>
	<% end %>
	<form action="/artist" method="post" enctype= "multipart/form-data">
		<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
		<div class="form-group">
			First Name
			<input type="text" name="fname" class="form-control">
		</div>
		<div class="form-group">
			Last Name
			<input type="text" name="lname" class="form-control">
		</div>
		<div class="form-group">
			Username
			<input type="text" name="uname" class="form-control">
		</div>
		<div class="form-group">
			City
			<input type="text" name="city" class="form-control">
			State
			<input type="text" name="state" class="form-control">
		</div>
		<div class="form-group">
			Email
			<input type="text" name="email" class="form-control">
		</div>
		<div class="form-group">
			Password
			<input type="password" name="password" class="form-control">
			Confirmation
			<input type="password" name="password_confirmation" class="form-control">
		</div>
		<div class="form-group">

		</div>
		<div class="form-group">
			<p>Tell us about yourself</p>
			<textarea name="bio" class="form-control"></textarea>
			<input type="file" id="avatar" name="avatar"/>
			<p class="help-block">Upload your avatar image here.</p>
		</div>
		<div class="form-group">

		</div>
		<input type="submit" value="Register" class="form-control">
		<a href="/enter">Already a member?</a>
	</form>
</div>
