<a href="/artist/<%= session[:artist_id] %>">Home</a>
<a href="/projects">Available Projects</a>
<a href="/">Logout</a>
Edit Your Profile:
<form action="/myprofile/<%= @artist.id %>" method="post" enctype= "multipart/form-data">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<input name="_method" value="patch" type="hidden">
	<input type='hidden' name='artist_id' value='<%= @artist.id %>'>
	<p>Username:<input type="text" name="uname">
	<p>First Name:<input type="text" name="fname"></p>
	<p>Last Name:<input type="text" name="lname"></p>
	<p>Email address:<input type="text" name="email"></p>
	<p>Password:<input type="text" name="password"></p>
	<p>Password confirmation:<input type="text" name="password_confirmation"></p>
	<p>City:<input type="text" name="city"></p>
	<p>State:<input type="text" name="state"></p>
	<p>Bio:<input type="text" name="bio"></p>

	<p>Upload a picture for your profile page:</p>
	<input type="file" id="avatar" name="avatar" />
	<input type="submit" value="Submit">
</form>